<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Password:</strong>
<<<<<<< HEAD
  <% @author.password %>
=======
  <%= @author.password %>
>>>>>>> 0bf391f5d9d432eb7da8d7a8d753fb0bab71c30b
</p>

<p>
  <strong>Password confirmation:</strong>
<<<<<<< HEAD
  <% @author.password_confirmation %>
=======
  <%= @author.password_confirmation %>
>>>>>>> 0bf391f5d9d432eb7da8d7a8d753fb0bab71c30b
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
